@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@theme {
    --color-custom-gray-800: #6E6E6E;
    --color-custom-gray-700: #919191;
    --color-custom-gray-600: #C7C7C7;
    --color-custom-dark-gray-800: #262626;
    --color-pastel-purple-800: #8B7FCC;  /* jemne tmavá, sofistikovaná */
    --color-pastel-purple-700: #A99DD9;  /* stredná, decentná */
    --color-pastel-purple-600: #C2B6E6;  /* svetlá, elegantná */
    --color-pastel-purple-500: #E0D8F4;  /* veľmi svetlá, jemný akcent */
    --color-pastel-purple-400: #F5F2FB;  /* takmer biela, subtilný tón */
    --color-pastel-blue-700: #7FA6C7;  /* stredne tmavý, jemný akcent */
    --color-pastel-blue-600: #A1C1DA;  /* stredný, decentný odtieň */
    --color-pastel-blue-500: #C4D9EB;  /* svetlá, jemná gradácia */
    --color-pastel-blue-400: #E6F2F8;  /* veľmi svetlá, takmer biela */
    --color-pastel-green-800: #86C6B6;
    --color-pastel-green-700: #A8DED1;
    --color-pastel-green-600: #C2E9E0;
    --color-pastel-green-500: #E0F6F2;
    --color-pastel-green-400: #F5FBFA;
    --color-vibrant-purple-700: #5b33fd;
    --color-vibrant-purple-600: #6C47FF;
    --color-vibrant-purple-500: #8A6BFF;
    --color-vibrant-purple-400: #A999FF;

}

@layer components {
    .main-button {
        @apply bg-vibrant-purple-600 cursor-pointer border border-vibrant-purple-600;
    }
    .main-button:hover {
        @apply bg-gradient-to-t from-vibrant-purple-600 to-vibrant-purple-500;
    }
}


body {
    background: #f5f5f7;
    font-family: "Nunito", sans-serif;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.glass-effect {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
