@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@theme {
    --color-custom-gray-800: #6E6E6E;
    --color-custom-gray-700: #919191;
    --color-custom-gray-600: #C7C7C7;
    --color-custom-dark-gray-800: #262626;
    --color-pastel-purple-800: #7C87CF;
    --color-pastel-purple-700: #B892C8;
    --color-pastel-purple-600: #C9A6D6;
    --color-pastel-purple-500: #E2D3EA;
    --color-pastel-purple-400: #F1EAF5;
    --color-pastel-light-blue-600: #4698f1;
    --color-pastel-blue-700: #8FAAC4;
    --color-pastel-blue-600: #A4BBD1;
    --color-pastel-blue-500: #C9D6E3;
    --color-pastel-blue-400: #E6EDF4;
    --color-pastel-pink-700: #DDD5F7;
    --color-pastel-green-800: #A7CBD9;
    --color-pastel-green-700: #C8E8DC;
    --color-pastel-green-600: #D9F0E7;
    --color-pastel-green-500: #EAF7F2;
    --color-pastel-green-400: #F4FBF8;
    --color-vibrant-purple-700: #6237ff;
    --color-vibrant-purple-600: #6C47FF;
    --color-vibrant-purple-500: #8A6BFF;
    --color-vibrant-purple-400: #A999FF;

}

@layer components {
    .main-button {
        @apply bg-vibrant-purple-600 cursor-pointer border border-vibrant-purple-600;
    }
    .main-button:hover {
        @apply bg-gradient-to-t from-vibrant-purple-600 to-vibrant-purple-500;
    }
}


body {
    background: #f5f5f7;
    font-family: "Nunito", sans-serif;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.glass-effect {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
